@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@300;500;700&family=Roboto:wght@400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*========================================================*/
body {
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper {
  font-family: Poppins;
}

.full-screen {
  position: relative;
  height: 30.9375rem;
}
.full-screen .back {
  position: relative;
  border-radius: 5px;
  background: rgba(33, 37, 41, 0.5058823529);
  height: 100%;
  z-index: 2;
}
.full-screen img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  color: #F8F9FA;
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 0;
}
.header__container {
  max-width: 80rem;
  margin: 35px auto 0px;
  padding: 0px 20px;
}
.header__logo {
  font-size: 1.125;
  font-weight: 700;
  line-height: 1.38;
  text-transform: uppercase;
}
.header__logo a {
  color: #F8F9FA;
}
.header__logo span {
  color: #DDBEA9;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  max-width: 37.8125rem;
  margin: 200px 0px;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.6;
}
.header__title span {
  display: block;
  margin: 10px 0px 0px;
  max-width: 22.3125rem;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.66;
}

.nav {
  display: flex;
}
.nav__icon {
  display: none;
}
.nav__list {
  display: flex;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.5;
}
.nav__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px 0px 0px;
}
.nav__list li:hover {
  color: #F8F9FA;
  transition: all 0.3s;
}
.nav__list li:last-child {
  padding: 7px 25px 7px 0px;
  border-right: 1px solid rgba(229, 229, 229, 0.5);
}
.nav__list a {
  position: relative;
  color: rgba(248, 249, 250, 0.5019607843);
  padding: 0px 0px 5px;
}
.nav__list a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: #DDBEA9;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.nav__list a:hover {
  color: #F8F9FA;
  transition: all 0.3s;
}
.nav__list a:hover:before {
  transform: scaleX(1);
  transition: transform 0.3s;
}
.nav__search {
  margin: 0px -5px 0px 0px;
  padding: 0px 3px 0px 0px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s;
}
.nav__search img {
  padding: 5px 5px 0px;
}
.nav__search:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #DDBEA9;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.nav__search:hover {
  color: #F8F9FA;
  transition: all 0.3s;
}
.nav__search:hover:before {
  transform: scaleX(1);
  transition: transform 0.3s;
}

.list li:nth-child(2) {
  position: relative;
  cursor: pointer;
}
.list li:nth-child(3) {
  position: relative;
  cursor: pointer;
}
.list__arrow {
  position: relative;
  top: 1px;
  right: -3px;
}
.list .content {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  position: absolute;
  top: 20px;
  left: 5px;
}
.list .content li {
  margin: 15px 0px 0px;
}
.list .content li:last-child {
  padding: 0px;
  border-right: 0px solid rgba(229, 229, 229, 0.5);
}
.list .content a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #DDBEA9;
  transform: scaleX(0);
  transition: transform 0.3s;
}
.list .content a:hover {
  color: #F8F9FA;
  transition: all 0.3s;
}
.list .content a:hover:before {
  transform: scaleX(1);
  transition: transform 0.3s;
}

@media (max-width: 767px) {
  .header {
    height: 100%;
  }
  .nav__list {
    position: fixed;
    transform: translate(200%, 0px);
    width: 100%;
    height: 100%;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease 0s;
  }
  .nav__list._active {
    transform: translate(0px, 0%);
  }
  .nav__list__arrow {
    position: relative;
    top: 1px;
    right: -3px;
  }
  .nav__list li {
    display: flex;
    justify-content: center;
    margin: 30px 0px 0px 0px;
  }
  .nav__list li:hover {
    color: #F8F9FA;
    transition: all 0.3s;
  }
  .nav__list li:first-child {
    padding: 50px 0px 0px;
  }
  .nav__list li:last-child {
    padding: 0px;
    border-right: 0px solid rgba(229, 229, 229, 0.5);
  }
  .nav__list ._active {
    transform: translate(0px, 0%);
  }
  .nav__search {
    top: -2px;
    margin: 0px 0px -5px 0px;
    padding: 0px 3px 0px 0px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
  }
  .nav__icon {
    margin-right: 20px;
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .nav__icon::after, .nav__icon::before, .nav__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: rgba(248, 249, 250, 0.5019607843);
  }
  .nav__icon:hover::after, .nav__icon:hover::before, .nav__icon:hover span {
    background-color: rgba(138, 138, 138, 0.7137254902);
  }
  .nav__icon::after, .nav__icon::before {
    content: "";
  }
  .nav__icon::before {
    top: 0;
  }
  .nav__icon::after {
    bottom: 0;
  }
  .nav__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .nav__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .nav__icon._active::after {
    top: 50%;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .nav__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .list {
    align-items: left;
    background-color: rgba(100, 100, 100, 0.9);
    font-size: 24px;
    position: absolute;
    padding: 10px 0px 20px 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .list li:nth-child(2) {
    align-items: left;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }
  .list li:nth-child(3) {
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }
  .list .content {
    margin-top: 10px;
    top: 0px;
    left: 0px;
    position: relative;
  }
  .list .content li:first-child {
    margin: -25px 0px 0px;
  }
}
/*========================================================*/
.articles__container {
  max-width: 80rem;
  margin: 90px auto;
  padding: 0px 20px;
}
.articles__title {
  color: #212529;
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 0.71;
  margin: 0px 0px 44px;
}
@media (max-width: 1278px) {
  .articles__title {
    text-align: center;
  }
}
.articles__items {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(0, 393px));
  justify-content: center;
  grid-auto-flow: dense;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 45px;
}
.articles__item {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.67;
  color: #495057;
}
.articles__more {
  cursor: pointer;
  color: #F8F9FA;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 2.08;
  display: flex;
  margin: 67px auto 0px;
  max-width: 10.94rem;
  padding: 8px 48px;
  border-radius: 5px;
  background-color: #212529;
  transition: all 0.3s;
}
.articles__more:hover {
  transition: all 0.3s;
  background-color: #101314;
}
.articles__more:visited {
  color: #F8F9FA;
}

.item__image {
  display: block;
  position: relative;
  padding: 0px 0px 63.62%;
  transition: all 0.5s;
}
.item__image img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item__image:hover {
  transition: all 0.5s;
  padding: 0px 0px 65%;
  border-radius: 5px;
}
.item__date {
  margin: 30px 0px 15px;
}
.item__title {
  color: #212529;
  font-size: 1.5625rem;
  font-weight: 700;
  line-height: 1.6;
  color: #212529;
}
.item__subtitle {
  padding: 15px 0px;
  border-bottom: 1px solid #E5E5E5;
}
.item__autor {
  margin: 15px 0px 0px;
}

/*========================================================*/
.footer {
  color: rgba(248, 249, 250, 0.5019607843);
  background-color: #212529;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.66;
}
.footer__container {
  max-width: 80rem;
  margin: 0px auto;
  padding: 40px 20px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
.footer__block:nth-child(1) {
  padding: 0px 0px 40px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.2);
}
.footer__block:nth-child(2) {
  padding: 39px 0px 0px;
}
.footer__logo {
  color: #F8F9FA;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.38;
}
.footer__logo span {
  color: #DDBEA9;
}

.nav__links {
  display: flex;
}
.nav__link {
  margin: 0px 0px 0px 25px;
}
.nav__link a {
  position: relative;
  z-index: 3;
  line-height: 2.08;
  color: rgba(248, 249, 250, 0.5019607843);
}
.nav__link a:hover {
  color: rgba(190, 190, 190, 0.5019607843);
}