@function prc($pxOne, $pxTwo) {
	$result: math.div($pxOne, $xTwo) * 100%;
	@return $result;
}

@function rem($px) {
	$result: math.div($px) / 16;
	@return $result;
}

@function em($px) {
	$result: math.div($px, 16)+em;
	@return $result;
}